<form class="ui form">

  <div class="ui segment">
    
    <div class="two fields">
      <div class="field">
        <label>
          Image URL (include YouTube Video URL)
        </label>
        <input type="url" v-model="YouTubeURL" />

        <label>
          Image Horizontal Percentage ({{ youtubeHorizontalPercentage }}%)
        </label>
        <input type="range" step="10" min="0" max="100" v-model="youtubeHorizontalPercentage">
      </div>

      <div class="two fields">
        <div class="field">
          <label>
            Icon URL
          </label>
          <input type="url" v-model="iconURL" />

          <label>
            Preset ICON list
          </label>
          <div class="preset-icons">
            <img v-for="url in presetIcons" v-bind:src="url"
                 v-on:click="iconURL = url" />
          </div>
        </div>
        
        <div class="field">
          <label>
            Icon Position
          </label>
          <div class="icon-position-selector">
            <template v-for="pos in iconPositionList"><span v-on:click="iconPosition = pos"
                v-bind:class="{selected: (pos === iconPosition)}"
                >{{ pos }}</span><br v-if="pos === 9 || pos === 6 || pos === 3" /></template>
            <span v-on:click="iconPosition = 0"
                v-bind:class="{selected: (0 === iconPosition)}"
                class="hidden-button"
                >Hidden</span>
          </div>

          <label>
            Icon Padding Percentage ({{ iconPaddingPercentage }}%)
          </label>
          <input type="range" step="10" min="0" max="100" v-model="iconPaddingPercentage">
        </div>

      </div>
    </div>
      
    
      
    
    <div class="field output">
      <canvas id="canvas" width="512" height="512">
        Your browser does not support the HTML5 canvas tag.
      </canvas>
      <!--
      <a class="ui fluid button" 
        v-bind:href="canvaseBase64" 
        v-bind:download="filename" ref="DownloadButton">Download</a>
      -->
    </div>
  </div>
  
</form>