label {
  cursor: pointer !important;
  user-select: none !important;
}

.one-tab-environment {
  display: none;
  line-height: 3rem;
}

@media only screen and (max-width: 767px) {
  .one-tab-environment {
    display: block;
  }

  .tabs-environment {
    display: none;
  }
}
  

.preset-icons img {
  max-width: 3rem;
  height: auto;
  margin-right: 1rem;
  cursor: pointer;
}

// #canvas {
//   border: 1px solid #CCC;
// }

.icon-position-selector span {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: 1px solid #CCC;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  padding: 0;
  margin: 0;

  &.selected {
    background: #333;
    color: white;
    cursor: default;
  }

  &.hidden-button {
    width: 6rem;
  }
}

.output.field {
  text-align: center;
}

canvas {
  cursor: pointer;
}

select option img {
  height: 1rem;
  width: auto;
}

iframe {
  width: 100%;
  min-height: 40rem;
}

.preview img {
  max-height: 3rem;
  width: auto;
}

input[type="range"] {
  width: 100%;
}

.rainbow-background {
  background: linear-gradient(
        0deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}